<h1>Sign Up or Login</h1>

<%if flash[:login_error] %>
    <p><%= flash[:login_error] %> </p>
<%end%>

<%= form_tag action: "create", method: :post %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= label_tag :email %>
<%= text_field_tag :email %>

<%= label_tag :password%>
<%= password_field_tag :password%>

<%= collection_select :session, :a_c, ['athlete', 'coach'], :to_s, :to_s%>

<%= submit_tag "log in" %><br>
Or <%= link_to(controller: 'athletes', action: 'new') {'Athlete sign up'} %>
<%= link_to(controller: 'coaches', action: 'new') {'Coach sign up'} %>