<div style="margin-top: 50px; margin-left: 50px;">

  <h1>Login</h1><br>

  <% if flash[:login_error] %>
    <p><%= flash[:login_error] %></p>
  <% end %>


  <%= form_tag action: "create", method: :post %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password%>
  <%= password_field_tag :password%>

  <%= collection_select :session, :a_c, ['athlete', 'coach'], :to_s, :to_s%>

  <%= submit_tag "log in" %><br><br>

  <h1>Sign Up</h1><br>
  <a href="/coaches/new" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Coach Sign Up</a>
  <a href="/athletes/new" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Athlete Sign Up</a>
</div>


