<p id="notice"><%= notice %></p>

<div style="margin-top: 50px; margin-left: 50px; margin-right: 50px;">

  <h1>Programs</h1>

  <table class="table"> 
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Coach</th>
        <th scope="col">View Program</th>
        <th scope="col">Update Program</th>
        <th scope="col">Delete Program</th>
      </tr>
    </thead>

    <tbody>
      <% @programs.each do |program| %>
        <tr>
          <td><%= program.title %></td>
          <td><%= program.description %></td>
          <td>$<%= program.price %></td>
          <td><%= program.coach.name %></td>
          <td><%= link_to 'Show', program %></td>
          <td><%= link_to 'Edit', edit_program_path(program) %></td>
          <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <a href="/programs/new" type="button" class="btn btn-link" style="color:orange;">Create New Program</a>

</div>