<%= form_with(model: athlete, local: true) do |form| %>
  <% if athlete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(athlete.errors.count, "error") %> prohibited this athlete from being saved:</h2>

      <ul>
        <% athlete.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>

<%= form_for @athlete, url: :athletes_create do |f|%>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :age %>
        <%= f.number_field :age %>
    </p>

    <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p>

      <p>
        <%= f.label "Sports You Specialize In" %><br>
        <%= f.collection_check_boxes(:sport_ids, Sport.all, :id, :name)%>
    </p>

    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>

    <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </p>

    <p> <%= f.button "Submit"%> </p>
  <%end%>