<p id="notice"><%= notice %></p>

<div style="margin-top: 50px; margin-left: 50px; margin-right: 50px;">

  <h1>Athletes</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Coach</th>
        <th scope="col">Program</th>
        <th scope="col">View Profile</th>
        <th scope="col">Update Profile</th>
        <th scope="col">Delete Profile</th>
      </tr>
    </thead>

    <tbody>
      <% @athletes.each do |athlete| %>
        <tr>
          <td><%= athlete.name %></td>
          <td><%= athlete.age %></td>
          <td><%= mail_to athlete.email %></td>
          <td><%= athlete.coach_id %></td>
          <% if athlete.program%>
            <td><%= athlete.program.title %></td>
          <% else%>
            <td><%= "No Program" %></td>
          <%end%>
          <td><%= link_to 'Show', athlete %></td>
          <td><%= link_to 'Edit', edit_athlete_path(athlete) %></td>
          <td><%= link_to 'Destroy', athlete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  
  <a href="/athletes/new" type="button" class="btn btn-link" style="color:orange;">Create New Athlete</a>

</div>
