<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @athlete.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @athlete.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @athlete.email %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @athlete.coach_id %>
</p>

<p>
  <strong>Program:</strong>
  <%= @athlete.program_id %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
