<p id="notice"><%= notice %></p>

<h1>ATHLETE</h1>

<p>
  <strong>Name:</strong>
  <%= @athlete.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @athlete.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @athlete.email %>
</p>

<p>
  <strong>Sport(s): </strong>
  <% @athlete.sports.each do |p| %>
    <%= p.name %><br>
  <% end %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @athlete.coach.name %>
</p>

<p>
  <strong>Program:</strong>
  <%= @athlete.program.title %>
</p>

<%= link_to 'Edit Profile', edit_athlete_path(@athlete) %>
