<p id="notice"><%= notice %></p>

<h1 style="margin-top: 35px; margin-left: 50px; margin-bottom: 20px;"><%= @athlete.name %></h1>

<div style="margin-left: 50px; margin-right: 50px; margin-bottom: 50px;">

  <p>
    <strong>Age:</strong>
    <%= @athlete.age %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mail_to @athlete.email %>
  </p>

  <p>
    <strong>Coach:</strong>
    <%if @athlete.coach %>
      <%= link_to @athlete.coach.name, "/coaches/#{@athlete.coach_id}" %>
    <% else %>
      <%= "You have not been assigned a coach yet."%>
    <% end %>
  </p>

  <p>
    <strong>Sport(s): </strong>
    <% @athlete.sports.each do |p| %>
      <%= p.name %><br>
    <% end %>
  </p>

  <p>
    <strong>Program:</strong>
    <%if @athlete.program %>
      <%= @athlete.program.title %>
    <% else %>
      <%= "You do not have any programs."%>
    <% end %>
  </p>

  <br>
  <%= link_to 'Edit Profile', edit_athlete_path(@athlete) %><br>
  <%= link_to "Coach Profile Page", "/coaches/#{@athlete.coach_id}" %>

</div>
