<%= form_with(model: coach, local: true) do |form| %>
  <% if coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
        <% coach.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div style="margin-left: 50px;">
  <%= form_for @coach, url: :coaches_create do |f|%> 
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p>

    <p>
        <%= f.label :bio %>
        <%= f.text_area :bio %>
    </p>

    <p>
        <%= f.label "Sports You Specialize In:" %><br>
        <%= f.collection_check_boxes(:sport_ids, Sport.all, :id, :name, include_hidden: false)%>
    </p>

    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>

    <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </p>

    <p> <%= f.button "Submit" %> </p>
  <% end %>
</div>
