<h1>Edit Profile</h1>

<%= render 'form', coach: @coach %>

<h2>Add Athlete</h2>

  <div class="field">
  <%= form_for @coach, url: :coaches_create do |f|%>
    <%= f.label :athlete %>
    <%= collection_select(:coach, :athlete_ids, Athlete.all, :id, :name) %>
    <%= f.button "Add"%>
    <%end%>
  </div>


<h2><a href='/programs/new'>Create a New Program</a></h2>


<p><%= link_to 'Back', @coach %></p>
