<h1 style="margin-top: 50px; margin-left: 50px; margin-bottom: 30px;">Edit Profile</h1>

<%= render 'form', coach: @coach %>

<div style="margin-top: 30px; margin-left: 50px;">
  <h3>Add Athlete</h3>

  <div class="field">
  <%= form_for @coach, url: :coaches_create do |f|%>
    <%= f.label :athlete %>
    <%= collection_select(:coach, :athlete_ids, Athlete.all, :id, :name) %>
    <%= f.button "Add"%>
    <%end%>
  </div>

  <h2><a href='/programs/new'>Create a New Program</a></h2>
  
  <br><%= link_to 'Back', @coach %>

</div>


