<p id="notice"><%= notice %></p>

<div style="margin-top: 50px; margin-left: 50px; margin-right: 50px; margin-bottom: 50px;">

  <h1>Coaches</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" style="width:50%;">Bio</th>
        <th scope="col">Email</th>
        <th scope="col">View Profile</th>
        <th scope="col">Update Profile</th>
        <th scope="col">Delete Profile</th>
      </tr>
    </thead>

    <tbody>
      <% @coaches.each do |coach| %>
        <tr>
          <td><%= coach.name %></td>
          <td><%= coach.bio %></td>
          <td><%= mail_to coach.email %></td>
          <td><%= link_to 'Show', coach %></td>
          <td><%= link_to 'Edit', edit_coach_path(coach) %></td>
          <td><%= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <a href="/coaches/new" type="button" class="btn btn-link" style="color:orange;">Create New Coach</a>

</div>