<p id="notice"><%= notice %></p>

<h1 style="margin-top: 50px; margin-left: 50px;"><%= @coach.name %></h1>

<div style="margin-left: 50px; margin-right: 50px;">
  <p>
    <strong>Bio: </strong>
    <%= @coach.bio %>
  </p>

  <p>
    <strong>Email: </strong>
    <%= mail_to @coach.email %>
  </p>

  <p>
    <strong>Programs: </strong><br>
    <% @coach.programs.each do |p| %>
      <%= link_to p.title, program_path(p) %><br>
    <% end %>
  </p>

<p>
  <strong>Sports: </strong><br>
  <% @coach.sports.each do |sport| %>
    <%= link_to sport.name, sport_path(sport) %><br>
  <% end %>
</p>

<% #if current_user && current_user.id == params[:id].to_i && check_coach %>
  <% #current_user.athletes.each do |athlete| %>
    <% #athlete.name %>
    <%# athlete.email %>
  <%#end%>
<% #end %>

<p>
<strong>Athletes:</strong><br>

<%@coach.athletes.each do |athlete|%>
  <%= link_to athlete.name, athlete_path(athlete)%><br>
<%end%>
</p>


  <br/>

  <p><%= link_to 'Edit Profile/Add Athlete/Create Program', edit_coach_path(@coach) %></p><br>
  <p><%= link_to 'Back', '/sessions/new' %></p>

</div>
