<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coach.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @coach.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coach.email %>
</p>

<% if current_user && current_user.id == params[:id].to_i && check_coach %>
<%= current_user.athletes.each do |athlete| %>
  <%= athlete.name %>
  <%= athlete.email %>
  <%end%>
<% end %>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
