<!DOCTYPE html>
<html>
  <head>
    <title>Athlete-Coach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/applications.css"/>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css.scss"/>
  </head>
  <body>
      <nav class="navbar fixed-top navbar-light bg-light" style="background-color: black;">
        <a class="navbar-brand" style="color: white;" href="/sessions/new">STRENGTH TRAINING</a>
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
            <%# if @logged_in %>
              <li><%= link_to "Log out", logout_path %></li>
            <%# else %>
              <li><%= link_to "Log in", login_path %></li>
            <%# end %>
            </ul>
        </div>
      </nav>
      </body>
    <%= yield %>
</html>
